name: CI/CD FastAPI

on:
  push:
    branches:
      - master

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout code
      uses: actions/checkout@v3
    
    - name: set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
      
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest

        #- name: Run tests
        #run: pytest

    - name: Build Docker image
      run: docker build -t myfastapi:latest .

    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.9
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd /home/alex/fastapi
          git pull origin master
          docker stop fastapi || true
          docker rm fastapi || true
          docker build -t fastapi .
          docker run -d --name fastapi -p 8000:8000 fastapi
